.cardview {
    width: 65%;
    // border: black;
    // border-style: solid;
    // border-width: 2px;
    border-radius: 1rem;
    box-shadow: 1px 0px 7px #828282;
    margin: 0;
    padding: 3rem;
}