
.greeting {
    background-color: white;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.greeting .title {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.greeting .cardview {
    max-width: 50rem;
}